.st0 {
  stroke: #FFFFFF;
  stroke-miterlimit: 10;
}

.st1 {
  fill: #FFFFFF;
}

/* Icon container styles */
.dock-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

.dock-icon:hover {
  transform: translateY(-15%);
  transition: transform 250ms ease-in-out;
}

/* Tooltip base styling */
.dock-icon .tooltip {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  bottom: 95%; /* Position tooltip above the icon */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  user-select: none;
}

/* Arrow for tooltip */
.dock-icon .tooltip::after {
  content: '';
  position: absolute;
  top: 97%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Tooltip visibility on hover */
.dock-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.macos-navbar-logo {
  filter: grayscale(20%)
}
