@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Icon container styles */
.tech-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip base styling */
.tech-icon .tooltip {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  bottom: 120%; /* Position tooltip above the icon */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  user-select: none;
}

/* Arrow for tooltip */
.tech-icon .tooltip::after {
  content: '';
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Tooltip visibility on hover */
.tech-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.h1, .h2 {
  font-family: 'Press Start 2P', cursive;
}

.project-h3 {
  font-family: 'Press Start 2P', cursive;
  font-size: .8em;
}